@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  transition: all 2s ease-in;
  background-color: #0f110f;
}

.header-container {
  max-width: 100vw;
  height: 20rem;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

._1917 {
  background-image: url(/IMAGE/movies/19711.jpg);
  background-position-y: -12rem;
}

.AQP {
  background-image: url(/IMAGE/movies/AQP.jpg);
  background-position-y: -28rem;
}

.ER2 {
  background-image: url(/IMAGE/movies/ER.png);
  background-position-y: -21rem;
}

.GOT {
  background-image: url(/IMAGE/movies/GOT2.jpg);
  background-position-y: -130rem;
}

.Crown {
  background-image: url(/IMAGE/movies/TC.jpg);
  background-position-y: -105rem;
}

.Arrow {
  background-image: url(/IMAGE/movies/arrow.jpg);
  background-position-y: -11.5rem;
}

.menu-nav-content {
  padding-top: 20.5rem;
  background-color: #0f110f;
  width: 140rem;
  margin: 0 auto;
}

.menu-nav-content ul {
  list-style: none;
}

.menu-nav-content ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.menu-nav-content ul li a:hover {
  background-color: #f11616;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.section-container {
  min-height: 100vh;
  background-color: #0f110f;
}

.section-content {
  max-width: 140rem;
  margin: auto;
  padding-top: 2rem;
}

.section-content h1 {
  color: white;
  font-size: 3.5rem;
}

.movie-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 2.5rem;
}

.card1 img {
  padding-top: 1.5rem;
  height: 40rem;
}

.card2 p {
  color: white;
  font-size: 1.6rem;
}

.card2 a {
  background-color: #b80d0d;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.card2 a:hover {
  background-color: #f11616;
}
